# Indentation
indent_style = space
indent_size = 4

# Encoding
end_of_line = lf
charset = utf-8

# Trim trailing whitespace
trim_trailing_whitespace = true

# Insert final newline
insert_final_newline = true
