/* =========== Main =========== */
* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-app-region: no-drag;
    background-color: #000000;
}

.drag {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
  
.no-drag {
    -webkit-app-region: no-drag;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 0px;
}

/* =========== TitleBar =========== */
.titlebar {
    width: 100%;
    height: 33px;
}

.menu {
    overflow-y: hidden;
    position: fixed;
    width: 100%;
    height: 33px;
    color: white;
    display: flex;
    align-items: center;
    justify-content:end;
    background-color: #29292d;
    -webkit-app-region: drag;
    z-index: 1;
}

.white {
    color: white;
}

.close {
    height: 100%;
    padding: 0 16px 0 16px;
}

.minus {
    height: 100%;
    padding: 0 12px 0 12px;
}

.close:hover {
    background: #1e1e21;
}

.minus:hover {
    background: #1e1e21;
}

/* =========== Container =========== */
.container {
    display: flex;
    width: auto;
    height: 92vh;
    margin: 0;
    overflow: hidden;
    padding: 1%;
    left: 0; 
    right: 0;
    top: 33px; 
    bottom: 0; 
    background-color: red;
}

.scroll-y { 
    overflow-y: auto; 
}

/* =========== Register =========== */
.registerArea1 {
    width: 50%;
    height: 100%;
    background-color: aqua;
}

.registerArea2 {
    width: 50%;
    height: 100%;
    background-color: aqua;
}

.registerArea1Left {
    width: 95%;
    height: 95%;
    background-color: blue;
    border-radius: 10px;
}
