/* ================ Font ================ */
@font-face {
    font-family: "GothamMedium";
    src: url("../../../font/Gotham\ Medium.otf");
}

@font-face {
    font-family: "GothamBold";
    src: url("../../../font/Gotham\ Bold.otf");
}

:root {
    --darkLightMode: white;
    --mainColor : #e2d390;
    --logoBackground: black;
    --inverseTheme: black;
    --backgroundCard: #26221F;
    --backgroundSCard: #26221F;
    --backgroundPlanCard: #26221F;
    --addAreaBackground: #181818;
    --borderAddAreaBackground: #25282e;
    --unselectArea: rgba(0, 0, 0, 0.347);
    --hoverAddButton: #1a1a1a;
}

/* ================ Main ================ */
* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-app-region: no-drag;
    background-image: url('../../../assets/background2.png');
}

.drag {
    user-select: none;
    -webkit-app-region: drag;
}
  
.no-drag {
    -webkit-app-region: no-drag;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 0px;
}

input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 100%;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0);
}

/* ================ TitleBar Electron ================ */
.titlebar {
    width: 100%;
    height: 33px;
}

.menu {
    overflow-y: hidden;
    position: fixed;
    width: 100%;
    height: 33px;
    color: var(--darkLightMode);
    display: flex;
    align-items: center;
    justify-content:end;
    background-color: #29292d;
    -webkit-app-region: drag;
    z-index: 1;
}

.titleNavBar {
    padding: 0 2vh 0 2vh;
    width: auto;
    height: 100%;
    font-family: "GothamMedium";
    position: absolute;
    opacity: 25%;
    font-size: 15px;
    left: 0;
}

.close {
    height: 100%;
    padding: 0 16px 0 16px;
}

.minus {
    height: 100%;
    padding: 0 12px 0 12px;
}

.close:hover {
    background: #1e1e21;
}

.minus:hover {
    background: #1e1e21;
}


/* ================ Color ================ */
/* Primary Color */
.white {
    color: var(--darkLightMode);
}

.gray {
    color: #6f6c6b;
}

/* Stats Color */
.StatsColor-1 {
    background-color: #d3e1fa;
}
.StatsColor-2 {
    background-color: #d2f1f9;
}
.StatsColor-3 {
    background-color: #d2f9e7;
}
.StatsColor-4 {
    background-color: #f8fad2;
}
.StatsColor-5 {
    background-color: #6EC898;
}
.StatsColor-6 {
    background-color: #6fcaab;
}
.GraphColor-1 {
    background-color: #f1e3f3;
}
.GraphColor-2 {
    background-color: #c2bbf0;
}
.GraphColor-3 {
    background-color: #8fb8ed;
}

/* History Color */
.HistoryColor-1 {
    background-color: #d3e1facf;
}
.HistoryColor-2 {
    background-color: #d2f1f9cf;
}
.HistoryColor-3 {
    background-color: #d2f9e7cf;
}
.HistoryColor-4 {
    background-color: #f8fad2cf;
}
.HistoryColor-5 {
    background-color: #6EC898cf;
}
.HistoryColor-6 {
    background-color: #6fcaabcf;
}

/* ================ Main Container ================ */
.container {
    display: flex;
    width: auto;
    height: 92vh;
    margin: 0;
    overflow: hidden;
    padding: 1%;
    left: 0; 
    right: 0;
    top: 33px; 
    bottom: 0;
    gap: 2%;
    overflow-y: auto; 
}

/* ================== Register ================== */
/* == Register Area 1 == */
.signup-registerArea1 {
    width: 35%;
    height: 100%;
}

.signup-registerSousArea1 {
    position: relative;
    width: 98%;
    height: 98%;
    padding-right: 7%;
    background: linear-gradient(rgba(34, 0, 255, 0.868), rgba(255,255,255,.5)), url('../../../assets/AdobeStock_220385906_Preview-transformed.jpeg');
    background-size: cover;
    border-radius: 10px;
}

.signup-containerTitle {
    width: auto;
    margin-left: 8%;
}

/* == (Title) == */
.registerTitleApp {
    padding-top: 20%;
    width: 50%;
    font-size: 3.5vh;
    color: var(--darkLightMode);
    font-family: 'GothamBold';
}

.registerDescriptionApp {
    padding-top: 20%;
    width: 100%;
    font-size: 5vh;
    color: var(--darkLightMode);
    font-family: 'GothamBold';
}

.registerSloganApp {
    padding-top: 20%;
    width: 100%;
    font-size: 2.6vh;
    font-weight: bold;
    color: var(--darkLightMode);
    font-family: monospace;
}

.registerAuthorApp {
    position: absolute;
    width: 100%;
    font-size: 2.2vh;
    font-weight: bold;
    color: var(--darkLightMode);
    font-family: monospace;
    bottom: 0;
    padding-bottom: 1.5%;
}

/* == Register Area 2 == */
.signup-registerArea2 {
    width: 65%;
    height: auto;
    padding-top: 3%;
}

.signup-registerSousArea2 {
    width: 85%;
    height: 98%;
    padding-left: 5%;
}

.signup-TitleArea {
    font-family: 'GothamBold';
    font-size: 3.5vh;
    width: fit-content;
    color: black;
    height: auto;
    padding-top: 4%;
}

.signup-HaveAccountTitleArea {
    font-family: 'GothamMedium';
    font-size: 2vh;
    width: fit-content;
    color: blue;
    height: auto;
    padding-top: 1.5%;
    cursor: pointer;
}

.signup-MissingInformation {
    display: none;
    font-family: 'GothamMedium';
    font-size: 2vh;
    width: fit-content;
    color: red;
    height: auto;
    padding-top: 2.3%;
}

.signup-LookingTitleArea {
    font-family: 'GothamMedium';
    font-size: 2vh;
    width: fit-content;
    color: rgb(113, 113, 113);
    height: auto;
    padding-top: 4%;
    padding-bottom: 2%;
}

.signup-checkboxArea {
    display: flex;
    width: 100%;
    gap: 2%;
}

.signup-CheckoxIndividual {
    padding: 2% 4% 2% 2%;
    width: 50%;
    border-radius: 6px;
    border: 2px solid;
    border-color: black;
    color: black;
    background-color: var(--darkLightMode);
}

.signup-CheckoxCompagnie {
    padding: 2% 4% 2% 2%;
    width: 50%;
    border-radius: 6px;
    border: 2px solid;
    border-color: black;
    color: black;
    background-color: var(--darkLightMode);
}

.form-control {
    font-family: 'GothamMedium';
    font-size: 2vh;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    accent-color: black;
}

.signup-EmailArea {
    display: flex;
    width: 100%;
}

.emailInput {
    width: 100%;
    padding: 1.5% 0% 1.5% 1.5%;
    background-color: var(--darkLightMode);
    border: 2px solid;
    border-color: black;
    border-radius: 6px;
    color: black;
    font-family: 'GothamMedium';
}

.emailInput:focus {
    outline: none;
}

.signup-passwordAreaTitle {
    display: flex;
    position: relative;
}

.signup-ForgotPasswordArea {
    color: blue;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.signup-PasswordArea {
    display: flex;
    width: 100%;
}

.passwordInput {
    width: 100%;
    padding: 1.5% 0% 1.5% 1.5%;
    background-color: var(--darkLightMode);
    border: 2px solid;
    border-color: black;
    border-radius: 6px;
    color: black;
    font-family: 'GothamMedium';
}

.passwordInput:focus {
    outline: none;
}

.signup-CreateAccountButtonArea {
    margin-top: 5%;
    width: 100%;
}

.buttonAccountCreate {
    padding: 1.5% 2% 1.5% 2%;
    background-color: rgb(64, 0, 255);
    color: var(--darkLightMode);
    font-family: 'GothamBold';
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.buttonAccountCreate:hover {
    background-color: rgb(94, 83, 251);
}

.buttonAccountCreate:focus {
    background-color: rgb(0, 0, 216);
}



/* ================== Login ================== */
/* == Register Area 1 == */
.login-registerSousArea1 {
    position: relative;
    width: 98%;
    height: 98%;
    background: linear-gradient(rgba(34, 0, 255, 0.84), rgba(206, 206, 206, 0.5)), url('../../../assets/inline_image_preview.jpg');
    background-size: cover;
    border-radius: 10px;
    padding-right: 7%;
}

.login-dontHavAaccount {
    cursor: pointer;
    font-size: 2vh;
    font-family: "GothamMedium";
    margin-top: .8vh;
    color: blue;
}



/* ================== DashBoard ================== */
/* == All Container (cf. Assets Color) == */
.dashboard-container {
    position: absolute;
    position: absolute;
    width: auto;
    /* height: 92vh; */
    /* height: 92vh; */
    margin: 0;
    overflow: hidden;
    padding: 1%;
    left: 0; 
    right: 0;
    top: 33px; 
    bottom: 0;
    gap: 2%;
    overflow-y:hidden;
    overflow-y:hidden;
    background-image: url('../../../assets/background.png');
    background-size: cover;
}
/* ====== Green Container ====== */
.dashboard-SCountainer1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 9%;
}

.dashboard-SCountainer2 {
    display: flex;
    width: 100%;
    height: 91%;
}

/* ====== Blue Container ====== */
.dashboard-SCountainer2-1 {
    width: 6%;
    height: 100%;
    padding: 2% 0 0 0;
    padding: 2% 0 0 0;
}


.dashboard-SCountainer2-2 {
    display: flex; /* Définit le conteneur comme un flex container */
    flex-direction: column; /* Définit l'axe principal en colonne */
    width: 94%;
    height: 100%;
}

/* ====== Pink Container ====== */
.dashboard-SCountainer2-2-1 {
    width: 100%;
    height: 12%;
}

.dashboard-SCountainer2-2-2 {
    width: 100%;
    height: 88%;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
}

/* == All Logo & Area Logo - Top NavBar == */
.dashboard-leftIcon {
    width: 50%;
    display: flex;
    gap: 4%;
}

.dashboard-rightIcon {
    width: 50%;
    display: flex;
    gap: 3%;
    justify-content: flex-end;
}

/* == Left Logo == */
.dashboard-logoApp {
    width: 12.3%;
    height: 100%;
}

.dashboard-logoRounded {
    width: 70%;
    height: 80%;
    color: var(--darkLightMode);
    font-size: 3.5vh;
}

.dashboard-title {
    width: auto;
    height: 100%;
    color: var(--darkLightMode);
    font-family: 'GothamBold';
    font-size: 3.2vh;
}

.dashboard-aboutLogo {
    width: auto;
    height: 100%;
    padding: 0 10px 0 18px;
    gap: 50%;
    font-size: 2.6vh;
    color: var(--mainColor);
    cursor: pointer;
}

/* == Middle Logo == */
.dashboard-plusLogo {
    width: auto;
    height: 100%;
    color: var(--mainColor);
    font-size: 4.2vh;
    cursor: pointer;
}

.dashboard-addArea {
    display: none;
    position: absolute;
    margin-left: 19%;
    width: 11%;
    height: 6.5%;   
    font-size: 3.5vh;
    color: var(--mainColor);
    border-radius: 18px;
}

.dashboard-addLogo {
    width: 27%;
    height: 80%;
    border-radius: 20%;
}

.dashboard-addLogo:hover {
    background-color: var(--hoverAddButton);
}

/* Div to add : car, energy, fuel */
.dashboard-containerAddAbsolute {
    display: none;
    position: absolute;
    width: 95%;
    height: auto;
    top: 14vh;
}

.dashboard-inputDateAddRecord {
    outline: none;
    width: 32%;
    height: 3.8vh;
    padding: 0 8px 0 8px;
    color: #6f6c6b;
    font-size: 2vh;
    font-family: "GothamMedium";
    border-radius: 5px;
    border: 1.5px solid #454955;
    background-color: var(--backgroundSCard);
}

.dashboard-inputToday {
    cursor: pointer;
    outline: none;
    width: 32%;
    height: 3.8vh;
    padding: 0 8px 0 8px;
    color: var(--darkLightMode);
    font-size: 2vh;
    font-family: "GothamMedium";
    border-radius: 5px;
    border: 2.5px solid #454955;
    background-color: var(--backgroundSCard);
}

.dashboard-areaCarButton {
    display: none;
    width: 28%;
    height: 100%;
    border-radius: 9px;
    border: 1.5px solid var(--borderAddAreaBackground);
    background-color: var(--addAreaBackground);
    padding: 1%;
    z-index: 3;
}

.dashboard-areaEnergyButton {
    display: none;
    width: 22%;
    height: auto;
    border-radius: 9px;
    border: 1.5px solid var(--borderAddAreaBackground);
    background-color: var(--addAreaBackground);
    padding: 1% 1% 1.5% 1%;
    z-index: 3;
}

.dashboard-areaOilButton {
    display: none;
    width: 25%;
    height: 100%;
    border-radius: 8px;
    border: 1.5px solid var(--borderAddAreaBackground);
    background-color: var(--addAreaBackground);;
    padding: 1%;
    z-index: 3;
}

.dashboard-unselect {
    display: none;
    position: absolute;
    left: 8%;
    top: 12%;
    width: 91%;
    height: 86%;
    z-index: 2;
    background-color: var(--unselectArea);
}

/* == Car PopUp == */
.dashboard-carPopupTitleArea {
    width: fit-content;
    height: auto;
    padding: 0.3vh 0 1.8vh 0;
    color: var(--darkLightMode);
    font-family: "GothamMedium";
    font-size: 2.5vh;
    gap: 20px;
    padding-left: 1%;
}

.dashboard-carPopupError {
    width: fit-content;
    height: auto;
    padding: 0 0 1.5vh 2vh;
    color: red;
    font-family: "GothamMedium";
    font-size: 2.1vh;
}

.fa-arrow-left {
    cursor: pointer;
}

.dashboard-carPopupCarModelArea {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    gap: .8vh;
    padding: 0 2vh 0 2vh;
}

.dashboard-carPopupCarInfoArea {
    width: auto;
    height: auto;
    gap: 6vh;
    margin-top: 5%;
}

.dashboard-carPopupCarType {
    cursor: pointer;
    padding: 1.5px 6px 1.5px 6px;
    border-radius: 4px;
    font-size: 2vh;
    font-family: "GothamMedium";
    color: var(--darkLightMode);
    background-color: rgba(255, 255, 255, 0.187);
}

.dashboard-inputCarModel {
    outline: none;
    width: 32%;
    height: 3.8vh;
    padding: 0 8px 0 8px;
    color: var(--darkLightMode);
    font-size: 2vh;
    font-family: "GothamMedium";
    border-radius: 5px;
    border: 1.5px solid #454955;
    background-color: var(--backgroundSCard);
}

.dashboard-carPopupSendButtonArea {
    width: 100%;
    height: 4.8vh;
    margin-top: 5%;
}

.dashboard-carPopupButton {
    color: var(--darkLightMode);
    border: none;
    outline: none;
    width: 22%;
    height: 100%;
    font-size: 2.1vh;
    font-family: "GothamMedium";
    border-radius: 8px;
    background-color: #1d5eff;
    cursor: pointer;
}

/* == Energy PopUp == */
.dashboard-energyPopupTitleArea {
    width: fit-content;
    height: auto;
    padding: 0.3vh 0 1.8vh 0;
    color: var(--darkLightMode);
    font-family: "GothamMedium";
    font-size: 2.5vh;
    gap: 20px;
    padding-left: 1%;
}

.dashboard-energyPopupInfoArea {
    width: auto;
    height: auto;
    gap: 3vh;
    margin-top: 5%;
}

.dashboard-energyPopupError {
    width: fit-content;
    height: auto;
    padding: 0 0 .8vh 2vh;
    color: red;
    font-family: "GothamMedium";
    font-size: 2.1vh;
}

.dashboard-energyPopupSendButtonArea {
    width: 100%;
    height: 4.8vh;
    margin-top: 7%;
}


/* == End Logo == */
.dashboard-languageLogo {
    width: auto;
    height: 100%;
    color: var(--mainColor);
    padding-right: 2%;
    font-size: 4.5vh;
    cursor: pointer;
}

.dashboard-notificationLogo {
    width: auto;
    height: 100%;
    color: var(--mainColor);
    font-size: 3vh;
    padding-right: 0.6%;
    cursor: pointer;
}

.btn-toggle {
    cursor: pointer;
    color: var(--mainColor);
    width: fit-content;
    padding: 2vh 1vh 2vh 1vh;
    font-size: 3vh;
}

.dashboard-UserLogo {
    width: 12%;
    height: 100%;
    color: var(--mainColor);
    font-size: 2.5vh;
    padding-right: 5%;
    cursor: pointer;
}

.dashboard-logoRoundedUser {
    width: 6vh;
    height: 6vh;
    border-radius: 100%;
    color: var(--darkLightMode);
    font-size: 2.7vh;
    font-family: 'GothamBold';
    border: 1.7px solid var(--mainColor);
}


/* =========== Left NavBar =========== */
/* == Container (Logo) == */
.dashboard-logoContainer {
    display: grid;
    font-size: 2.7vh;
    gap: 3vh;
    cursor: pointer;
}

.dashboard-logoLeftNavBarAreaRouded {
    width: 100%;
    height: auto;
}

.dashboard-logoLeftNavBar {
    width: 4.7vh;
    height: 4.7vh;
    border-radius: 100%;
}

/* =========== Overview Date =========== */
/* == Area with all logos inside == */
.dashboard-overviewByDateContainer {
    display: flex;
    width: 94%;
    height: 70%;
    justify-content: space-between;
}

.dashboard-overviewByDateLeftArea {
    display: flex;
    align-items: center;
    width: 45%;
    height: 100%;
    font-size: 2.7vh;
    gap: 3vh;
    cursor: pointer;
}

.dashboard-logoLeftNavBarAreaRouded {
    width: 100%;
    height: auto;
}

.dashboard-logoLeftNavBar {
    width: 4.7vh;
    height: 4.7vh;
    border-radius: 100%;
}

.logoOn {
    color: black;
    background-color: var(--mainColor);
}

.logoOff {
    color: var(--mainColor);
    background-color: var(--logoBackground);
}


/* =========== Overview Date =========== */
/* == Area with all logos inside == */
.dashboard-overviewByDateContainer {
    display: flex;
    width: 94%;
    height: 70%;
    justify-content: space-between;
}

.dashboard-overviewByDateLeftArea {
    display: flex;
    align-items: center;
    width: 45%;
    height: 100%;
    color: var(--darkLightMode);;
    font-size: 2vh;
    font-family: 'GothamBold';
    gap: 30px;
}

.dashboard-overviewByDateRightArea {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
    height: 100%;
    gap: 2vh;
}

/* == Left Area == */
.dashboard-overviewTitle {
    gap: 3px;
    cursor: pointer;
}

/* == Right Area == */
.dashboard-overviewDateInputArea {
    display: flex;
    width: 43vh;
    height: 75%;
    padding: 0 2vh 0 2vh;
    align-items: center;
    color: var(--darkLightMode);;
    font-size: 2vh;
    font-family: "GothamMedium";
    gap: 10px;
    background-color: var(--backgroundCard);
    border-radius: 50px;
}

.dashboard-overviewInputDate {
    width: 30%;
    outline: none;
    border: none;
    font-size: 2vh;
    font-family: "GothamMedium";
    color: #6f6c6b;
    background-color: rgba(255, 0, 0, 0);
    cursor: pointer;
    padding: 0.3vh 0 0.3vh 0.4vh;
    border-radius: 7px;
}

.fi-br-square-plus {
    width: auto;
    height: auto;
}

.dashboard-overviewAddDateArea {
    width: 35px;
    height: 35px;
    color: black;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    background-color: var(--mainColor);
}


/* =========== All Stats graphs =========== */
.dashboard-statsMainContainer {
    width: 90%;
    height: 95%;
}

/* == 3 Container : Top / Middle / Bottom == */
.dashboard-statsContainer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 38%;
}

.dashboard-statsContainer2 {
    display: flex;
    width: 100%;
    height: 28%;
    /* gap: 2%; */
    justify-content: flex-start;
    overflow-x: scroll;
}

.dashboard-statsContainer3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35%;
    gap: 2%;
}

/* == Top Container - Area == */
.dashboard-statsArea1-1 {
    width: 31.5%;
    height: 100%;
    border-radius: 26px;
    background-color: #b9c2b6;
}

.dashboard-statsArea1-2 {
    width: 31.5%;
    height: 100%;
    border-radius: 26px;
    background-color: #b0d2c2;
}

.dashboard-statsArea1-3 {
    width: 31.5%;
    height: 100%;
    border-radius: 26px;
    background-color: #bbb7c1;
}

/* == Middle Container - Area == */
.dashboard-statsContainer2-1 {
    display: flex;
    width: auto;
    height: 75%;
    gap: .6%;
    justify-content: flex-start;
}

.dashboard-statsArea2-1 {
    width: 39vh;
    height: 100%;
    border-radius: 26px;
    margin-right: 1vh;
    background-color: var(--backgroundCard);
}

/* == Bottom Container - Area == */
.dashboard-statsArea3-1 {
    width: 48.5%;
    height: 100%;
    border-radius: 26px;
    background-color: #bfb194;
}

.dashboard-statsArea3-2 {
    width: 48.5%;
    height: 100%;
    border-radius: 26px;
    background-color: #c3c3aa;
}

.dashboard-statsContainerGraphs {
    width: 95%;
    height: 95%;
}

/* ==== Property for Graphs - Stats ==== */
/* Glabal Title */
.dashboard-statsTitleGraph {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    color: black;
    font-size: 2.5vh;
    font-family: "GothamMedium";
    margin-top: 0.9vh;
    padding-left: 2.2vh;
    padding-bottom: 1.4vh;
}

/* ==== Area 1 - Stats ==== */
/* == Area 1.1 == */
.dashboard-statsArea1ContainerData {
    display: grid;
    width: 100%;
    grid-gap: 0.8vh;
    overflow-y: scroll;
}

.dashboard-statsArea1-1DataArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 4.2vh;
    border-radius: 18px;
    font-family: "GothamBold";
    color: black;
    font-size: 2.2vh;
    padding-left: 2%;
}

.dashboard-statsArea1-1Type {
    margin-left: 0.5vh;
}

.dashboard-statsArea1-1RoundedValue {
    width: auto;
    margin-left: auto;
    margin-right: 1vh;
    padding: 2px 5px 2px 5px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.525);
}

/* == Area 1.2 == */
.dashboard-statsArea1-2-1ContainerData {
    display: flex;
    width: 100%;
    height: 80%;
    max-height: 80%;
    grid-gap: 1.3vh;
    font-size: 2.2vh;
    font-family: "GothamBold";
    overflow-y: scroll;
}

.dashboard-statsArea1-2-1AreaData {
    width: 50%;
    height: 93%;
    border-radius: 26px;
}

.dashboard-statsArea1-2-1AreaContainerData {
    width: 85%;
    height: 86.5%;
    overflow: hidden;
}

.dashboard-statsArea1-2-1AreaContainerDataTitleContainer {
    width: 100%;
    height: 40%;
}

.dashboard-statsArea1-2-1AreaContainerTitleBrand {
    display: flex;
    width: auto;
    height: 2vh;
    align-items: center;
    color: black;
    font-size: 2.5vh;
    padding-top: 0.5vh;
    font-family: "GothamBold";
}

.dashboard-statsArea1-2-1AreaContainerDescBrand {
    display: flex;
    width: auto;
    height: 2vh;
    align-items: center;
    color: black;
    font-size: 1.9vh;
    font-family: "GothamBold";
    margin-top: 0.4vh;
    opacity: 65%;
}

.dashboard-statsArea1-2-1AreaContainerDataContainer {
    display: flex;
    width: 100%;
    height: 60%;
    align-items: center;
    justify-content: space-between;
}

.dashboard-statsArea1-2-1AreaContainerDataGraphArea {
    display: grid;
    width: 47%;
    height: 95%;
    border-radius: 16px;
    background-color: #e3f2c167;
    row-gap: 1vh;
}

.dashboard-statsArea1-2-1AreaContainerKmTitle {
    color: black;
    font-size: 2.5vh;
    font-family: "GothamBold";
    margin-top: .9vh;
}

.dashboard-statsArea1-2-1AreaContainerCo2Title {
    color: black;
    font-size: 2.1vh;
    font-family: "GothamMedium";
    padding-bottom: .9vh;
}

/* == Area 1.3 == */
.dashboard-statsArea3ContainerData {
    width: 100%;
    height: 80%;
    max-height: 80%;
    overflow-y: scroll;
}

.dashboard-statsArea1-3ContainerGraph {
    width: 100%;
    height: 16vh;
}

.dashboard-statsArea1-3SContainerGraph {
    display: flex;
    align-items:end;
    justify-content: space-between;
    width: 62%;
    height: 100%;
}

.dashboard-statsArea1-3GraphArea {
    width: 30%;
    height: 95%;
    border-radius: 22px 22px 0 0;
}

.dashboard-statsArea1-3TitleContainer {
    width: 100%;
    height: 20%;
}

.dashboard-statsArea1-3TitleSContainer {
    display: flex;
    width: 60%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    font-family: "GothamBold";
    font-size: 2vh;
    color: black;
}

.dashboard-statsArea1-3Title {
    width: 27%;
}

.dashboard-statsArea1-3DataTitle {
    display: grid;
    width: 100%;
    font-family: "GothamBold";
    font-size: 2.5vh;
    color: black;
    margin-top: 15%;
    justify-content: center;
}

.dashboard-statsArea1-3ValueTitle {
    font-size: 2.6vh;
    border-radius: 15px;
    padding: 1px 5px 1px 5px;
    margin-bottom: .5vh;
    background-color: rgba(255, 255, 255, 0.096);
}

.dashboard-statsArea1-3UnitTitle {
    font-size: 1.8vh;
}

/* ==== Area 2 - Stats ==== */
/* == Area 2.1 == */
.dashboard-statsArea2-1Container {
    width: 85%;
    height: 80%;
    font-family: "GothamMedium";
    color: var(--darkLightMode);;
}

.dashboard-statsArea2-1Title {
    font-size: 2.3vh;
    font-family: "GothamBold";
}

.dashboard-statsArea2-1Date {
    color: var(--darkLightMode);
    font-size: 2vh;
}

.dashboard-statsArea2-1ContainerData {
    display: flex;
    align-items: center;
    font-size: 2.2vh;
    margin-top: 2vh;
    /* gap: .5%; */
}

.dashboard-statsArea2-1Data {
    width: auto;
    max-width: 20.5vh;
    padding: 3px 8px 3px 8px;
    border-radius: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(255, 255, 255, 0.224);
}

.dashboard-statsArea2-1Percentage {
    width: auto;
    margin-left: auto;
    padding: 3px 7px 3px 7px;
    border-radius: 50px;
    background-color: rgba(255, 0, 0, 0.404);
}

/* ==== Area 3 - Stats ==== */
.dashboard-statsLastDayContainer {
    width: auto;
    height: 70%;
}



/* ================== History ================== */
/* Container */
.history-SCountainer2-2-2 {
    display: none;
    width: 100%;
    height: 88%;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    align-items: flex-start;
    justify-content: center;
}

.history-mainContainer {
    width: 94%;
    height: auto;
    max-height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-content: center;
    color: black;
    font-family: "GothamBold";
}

.history-area {
    border-radius: 16px;
    height: 18vh;
}

/* Style of Card */
.history-areaContainer {
    width: 92%;
    height: 88%;
}

.history-areaContainerOverview {
    display: flex;
    width: auto;
    height: fit-content;
    align-items: center;
    justify-content: flex-start;
    font-size: 2.3vh;
}

.history-areaContainerTitle {
    width: auto;
    height: auto;
    padding: .5px 7px .5px 7px;
    font-size: 2.3vh;
    border-radius: 8px;
    gap: .5vh;
    background-color: rgba(255, 255, 255, 0.518);
}

.history-areaContainerDesc {
    width: auto;
    height: auto;
    padding: 2.5px 5px 2.5px 5px;
    margin-right: 5px;
    border-radius: 8px;
    color: #111111bb;
    font-size: 2.1vh;
}

.history-areaContainerDate {
    width: auto;
    height: auto;
    padding: 2.5px 5px 2.5px 5px;
    margin-right: 5px;
    border-radius: 8px;
    color: #111111bb;
    font-size: 2.15vh;
}

.history-areaContainerData {
    width: auto;
    height: 55%;
    max-height: 55%;
    font-size: 3.6vh;
}

.history-areaContainerDataKm {
    width: 50%;
    height: 100%;
}
.history-areaContainerDataCo2 {
    width: 50%;
    height: 100%;
}



/* ================== Premium ================== */
/* Premium soon */
.premium-SCountainer2-2-2 {
    display: none;
    width: 94.5%;
    height: 88%;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
}

.premium-containerTitle {
    width: 100%;
    height: fit-content;
    padding: 0 0 .7vh 0;
    font-size: 4.2vh;
    font-family: 'GothamBold';
    color: var(--darkLightMode);
}

.premium-containerPlans {
    width: 100%;
    height: max-content;
    margin-top: 5.5vh;
    gap: 2.2vh;
}

/* PLans */
.premium-firstPlans {
    width: 23%;
    height: 50vh;
    border-radius: 14px;
    padding: 0 3vh 0 3vh;
    background-color: var(--backgroundPlanCard);
    overflow: scroll;
}

.premium-secondPlans {
    width: 26%;
    height: 54vh;
    border-radius: 14px;
    background-color: #25282e;
    overflow: scroll;
}

.premium-thirdPlans {
    width: 23%;
    height: 50vh;
    border-radius: 14px;
    padding: 0 3vh 0 3vh;
    background-color: var(--backgroundPlanCard);
    overflow: scroll;
}

.premium-containerPopular {
    width: 100%;
    font-size: 2.4vh;
    font-family: 'GothamBold';
    color: black;
    background-color: #ffec1d;
    padding: 3px 0 3px 0;
}

.premium-containerTitlePrice {
    width: 100%;
    height: auto;
    margin: 2vh 0 1vh 0;
    font-size: 3.3vh;
    font-family: 'GothamBold';
    color: var(--darkLightMode);
}

.premium-containerPrice {
    width: 100%;
    height: auto;
    font-size: 3.6vh;
    margin: 0 0 4vh 0;
    font-family: 'GothamBold';
    color: var(--darkLightMode);
}

.premium-monthTitle {
    padding-top: 1vh;
    font-size: 2.2vh;
    color: rgb(167, 167, 167);
}

.premium-containerAvantage {
    width: 100%;
    height: auto;
    margin: 2vh 0 5vh 0;
}

.premium-containerAvantageSecond {
    height: auto;
    margin: 2vh 0 4.5vh 0;
    padding: 0 3.5vh 0 3.5vh;
}

.premium-containerAvantageLine {
    display: flex;
    width: 100%;
    height: auto;
    padding: 3px 0 3px 0;
    margin-bottom: 1vh;
    font-size: 2.1vh;
    font-family: 'GothamBold';
    gap: 1.2vh;
    color: var(--darkLightMode);
}

.premium-containerGetStarted {
    width: 100%;
    margin-bottom: 2vh;
    height: auto;
}

.premium-getStartedButton {
    cursor: pointer;
    width: 70%;
    outline: none;
    border: none;
    padding: 7px 0 7px 0;
    border-radius: 7px;
    font-size: 2.3vh;
    font-family: 'GothamBold';
    color: var(--darkLightMode);
    color: white;
    gap: 1vh;
    background-color: #1d5eff;
}

.premium-getStartedButton:hover {
    width: 78%;
}



/* ================== Profile ================== */
/* Container */
.profile-SCountainer2-2-2 {
    display: none;
    width: 95%;
    height: 71vh;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
}

.profile-SContainer1 {
    display: grid;
    width: 100%;
    gap: 1vh;
}

.profile-SContainer2 {
    width: 100%;
    height: 80%;
    font-family: "GothamBold";
    font-size: 2.5vh;
    color: #6f6c6b;
}

/* Profile Date + Title */
.profile-dateArea {
    width: 100%;
    height: auto;
    font-family: "GothamBold";
    font-size: 2vh;
    color: #6f6c6b;
}

.profile-titleArea {
    width: 100%;
    height: auto;
    font-family: "GothamBold";
    font-size: 3.5vh;
    color: var(--darkLightMode);
}



/* ================== Contact ================== */
/* Container */
.contact-SCountainer2-2-2 {
    display: none;
    width: 95%;
    height: 71vh;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
}

.contact-titleContainer {
    width: 100%;
    height: fit-content;
}

.contact-inputContainer {
    width: 100%;
    height: fit-content;
    margin: 3vh 0 5vh 0;
}

.contact-buttonContainer {
    width: 100%;
    height: fit-content;
}

/* Title */
.contact-titleArea {
    width: 80%;
    height: 100%;
    color: var(--darkLightMode);
    font-size: 2.9vh;
    font-family: 'GothamBold';
    padding: 2vh 0 2vh 0;
}

/* Input */
.contact-inputArea {
    width: 65%;
    height: 100%;
}

.contact-input {
    width: 100%;
    height: 30vh;
    font-size: 2.2vh;
    font-family: 'GothamMedium';
    color: var(--darkLightMode);
    background-color: var(--logoBackground);
    outline: none;
    border: 2px solid #3d404b;
    border-radius: 13px;
    padding: 8px 10px 8px 10px;
    resize: none;
}

.contact-buttonSend {
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--darkLightMode);
    font-size: 2.6vh;
    font-family: 'GothamBold';
    padding: 4px 14px 4px 14px;
    border-radius: 7px;
    background-color: #00ba57;
}

.contact-buttonSend:hover {
    background-color: #00a24c;
}

.contact-sucessMessageContainer {
    display: none;
    width: 100%;
    height: auto;
}

.contact-sucessMessage {
    font-family: 'GothamMedium';
    font-size: 2.4vh;
}

/* ================ Light / Dark mode ================ */
.dashboard-container.dark {
    background-image: url('../../../assets/background3.png');
    --darkLightMode: #f1f1f1;
    --mainColor : #e2d390;
    --logoBackground: #111111;
    --backgroundCard: #26221F;
    --backgroundSCard: #26221F;
    --backgroundPlanCard: #302c29;
    --inverseTheme: #111;
    --addAreaBackground: #181818;
    --borderAddAreaBackground: #25282e;
    --unselectArea: #11111169;
    --hoverAddButton: #212121;
}

.dashboard-container.light {
    background-image: url('../../../assets/background2.png');
    --darkLightMode: #1a1a1a;
    --mainColor : #c1b376;
    --logoBackground: #e4ebf2;
    --backgroundCard: #d2dde7;
    --backgroundSCard: #d7dfe8;
    --backgroundPlanCard: #f3f9ff;
    --inverseTheme: #f1f1f1;
    --addAreaBackground: #e4ebf2;
    --borderAddAreaBackground: rgb(205, 212, 217);
    --unselectArea: #e4ebf268;
    --hoverAddButton: #f0f6fc;
}

.dashboard-container.light .premium-secondPlans {
    background-color: #fdfdfd;
}