<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="./../style/style.css">
    <title>Document</title>
</head>
<body>
    <!-- Menu -->
    <div class="titlebar">
        <div class="menu drag">
            <div class="titleNavBar white flex">Flowly - Beta Version 1.0</div>
            <i class="fa-solid fa-minus white minus flex no-drag" id="minus"></i>
            <i class="fa-sharp fa-solid fa-xmark white close flex no-drag" id="close"></i>
        </div>
    </div>

    <!-- Container -->
    <div class="dashboard-container" id="dashboard-container">
        <!-- First Green - Top NavBar-->
        <div class="dashboard-SCountainer1">
            <!-- Left Icon -->
            <div class="dashboard-leftIcon">
                <div class="dashboard-logoApp flex">
                    <div class="dashboard-logoRounded flex"><i class="fa-solid fa-fire-flame-curved"></i></div>
                </div>
                <div class="dashboard-title flex">Dashboard</div>
                <div class="dashboard-aboutLogo flex"><i class="fi fi-rr-interrogation flex"></i><i class="fa-brands fa-twitter"></i></div>
            </div>

            <!-- Middle -->
            <div class="dashboard-plusLogo flex">
                <i class="fa-solid fa-circle-plus" id="toggle-button"></i>
                <div class="dashboard-addArea flex" id="addArea">
                    <i class="fa-solid fa-car dashboard-addLogo flex" id="fa-car"></i>
                    <i class="fa-solid fa-bolt dashboard-addLogo flex" id="fa-bolt"></i>
                    <i class="fa-solid fa-oil-well dashboard-addLogo flex" id="fa-oil-well"></i>
                </div>
            </div>

            <div class="unselect"></div>

            <div class="dashboard-containerAddAbsolute flex" id="dashboard-containerAddAbsolute">
                <!-- == Adding Car PopUp == -->
                <div class="dashboard-areaCarButton flex" id="dashboard-areaCarButton">
                    <!-- Car Title -->
                    <div class="dashboard-carPopupTitleArea flex"><i class="fa-solid fa-arrow-left"></i> Add a distance</div>
                    <!-- Car Model (Brand, Model) -->
                    <div class="dashboard-carPopupCarModelArea flex">
                        <input type="text" class="dashboard-inputCarModel" name="" id="" placeholder="Brands">
                        <input type="text" class="dashboard-inputCarModel" name="" id="" placeholder="Models">
                    </div>
                    <!-- Car Info (Years, Km) -->
                    <div class="dashboard-carPopupCarInfoArea flex">
                        <input type="number" class="dashboard-inputCarModel" name="" id="" min="1998" max="2023" step="1" value="2016" placeholder="Years">
                        <input type="number" class="dashboard-inputCarModel" name="" id="" min="1" max="999" placeholder="Km(s)">
                    </div>
                    <!-- Add Button -->
                    <div class="dashboard-carPopupSendButtonArea flex">
                        <button class="dashboard-carPopupButton">Add</button>
                    </div>
                </div>      

                <!-- == Adding Energy PopUp == -->
                <div class="dashboard-areaEnergyButton" id="dashboard-areaEnergyButton">
                    <!-- Energy Title -->
                    <div class="dashboard-carPopupTitleArea flex"><i class="fa-solid fa-arrow-left"></i> Add an electricity bill</div>
                    <!-- Energy Model (Brand, Model) -->
                    <div class="dashboard-carPopupCarModelArea flex">
                        <input type="text" class="dashboard-inputCarModel" name="" id="" placeholder="Country">
                        <input type="text" class="dashboard-inputCarModel" name="" id="" placeholder="*State">
                    </div>
                    <!-- Energy Info (Years, Km) -->
                    <div class="dashboard-carPopupCarInfoArea flex">
                        <input type="text" class="dashboard-inputCarModel" name="" id="" value="mwh" placeholder="Unit">
                        <input type="number" class="dashboard-inputCarModel" name="" id="" min="1" max="999" placeholder="Value">
                    </div>
                    <!-- Add Button -->
                    <div class="dashboard-carPopupSendButtonArea flex">
                        <button class="dashboard-carPopupButton">Add</button>
                    </div>
                </div>

                <!-- == Adding Oil PopUp == -->
                <div class="dashboard-areaOilButton" id="dashboard-areaOilButton">
                    <!-- Soon -->
                </div>
            </div>

            <div class="dashboard-unselect"></div>

            <!-- Right Icon -->
            <div class="dashboard-rightIcon">
                <div class="dashboard-languageLogo flex"><i class="fi fi-rr-language flex"></i></div>
                <div class="dashboard-notificationLogo flex"><i class="fi fi-rr-bell flex"></i></div>
                <div class="dashboard-UserLogo flex">
                    <div class="dashboard-logoRoundedUser flex"><i class="fa-regular fa-user"></i></div>
                </div>
            </div>
        </div>
        <!-- Second Green - All Stats Display -->
        <div class="dashboard-SCountainer2">
            <!-- First Blue - Left NavBar-->
            <div class="dashboard-SCountainer2-1">
                <div class="dashboard-logoContainer">
                    <i class="fi fi-rr-chart-line-up flex"></i>
                    <i class="fi fi-rr-time-past flex"></i>
                </div>
            </div>
            <!-- Second Blue - All Graphs -->
            <div class="dashboard-SCountainer2-2" id="dashboard-SCountainer2-2">
                <!-- First Pink - Overview Range -->
                <div class="dashboard-SCountainer2-2-1 flex">

                    <!-- Overview Container -->
                    <div class="dashboard-overviewByDateContainer">
                        <!-- Left Overview area -->
                        <div class="dashboard-overviewByDateLeftArea">
                            <!-- Overview -->
                            <div class="dashboard-overviewTitle flex white">
                                <i class="fi fi-rr-circle-1 flex"></i>
                                Overview
                            </div>
                            <!-- Week -->
                            <div class="dashboard-overviewTitle flex gray">
                                <i class="fi fi-rr-circle-2 flex"></i>
                                Week
                            </div>
                            <!-- Month -->
                            <div class="dashboard-overviewTitle flex gray">
                                <i class="fi fi-rr-circle-3 flex"></i>
                                Month
                            </div>
                            <!-- Year -->
                            <div class="dashboard-overviewTitle flex gray">
                                <i class="fi fi-rr-circle-4 flex"></i>
                                Year
                            </div>
                        </div>

                        <!-- Right Overview area -->
                        <div class="dashboard-overviewByDateRightArea">
                            <!-- soon -->
                        </div>
                    </div>
                </div>

                <!-- Second Pink - All Graphs-->
                <div class="dashboard-SCountainer2-2-2">

                </div>
            </div>
        </div>
    </div>

    <script src="../script/dashboard.js"></script>
</body>
</html>