<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel="stylesheet" href="./../style/style.css">
    <webview src="https://example.com" preload="src/components/script/preload/preload.js"></webview>
    <title>Flowly Beta - Dashboard</title>
</head>
<body>
    <!-- Menu -->
    <div class="titlebar">
        <div class="menu drag">
            <div class="titleNavBar white flex">Flowly - Beta Version 1.0</div>
            <i class="fa-solid fa-minus white minus flex no-drag" id="minus"></i>
            <i class="fa-sharp fa-solid fa-xmark white close flex no-drag" id="close"></i>
        </div>
    </div>

    <!-- Container -->
    <div class="dashboard-container" id="dashboard-container">
        <!-- First Green - Top NavBar-->
        <div class="dashboard-SCountainer1">
            <!-- Left Icon -->
            <div class="dashboard-leftIcon">
                <div class="dashboard-logoApp flex">
                    <div class="dashboard-logoRounded flex"><i class="fa-solid fa-fire-flame-curved"></i></div>
                </div>
                <div class="dashboard-title flex">Dashboard</div>
                <div class="dashboard-aboutLogo flex"><i class="fi fi-rr-interrogation flex"></i><i class="fa-brands fa-twitter"></i></div>
            </div>

            <!-- Middle -->
            <div class="dashboard-plusLogo flex">
                <i class="fi fi-rr-square-plus flex" id="toggle-button"></i>
                <div class="dashboard-addArea flex" id="addArea">
                    <i class="fi fi-rr-car-side dashboard-addLogo flex" id="fa-car"></i>
                    <i class="fi fi-rr-bulb dashboard-addLogo flex" id="fa-bolt"></i>
                    <i class="fi fi-rr-gas-pump-alt dashboard-addLogo flex" id="fa-oil-well"></i>
                </div>
            </div>

            <div class="dashboard-unselect" id="unselect"></div>

            <div class="dashboard-containerAddAbsolute flex" id="dashboard-containerAddAbsolute">
                <!-- == Adding Car PopUp == -->
                <div class="dashboard-areaCarButton flex" id="dashboard-areaCarButton">
                    <!-- Car Title -->
                    <div class="dashboard-carPopupTitleArea flex"><i class="fa-solid fa-arrow-left"></i> Add a distance</div>
                    <div class="dashboard-carPopupError" id="dashboard-carPopupError" data-error="false"></div>
                    <!-- Car Model (Brand, Model) -->
                    <div class="dashboard-carPopupCarModelArea">
                        <!-- Select Car Type -->
                        <div class="dashboard-carPopupCarType flex" data-type="false">Fourgonette</div>
                        <div class="dashboard-carPopupCarType flex" data-type="false">Mini-Fourgonette</div>
                        <div class="dashboard-carPopupCarType flex" data-type="false">Pick-up</div>
                        <div class="dashboard-carPopupCarType flex" data-type="false">Coupés</div>
                        <div class="dashboard-carPopupCarType flex" data-type="false">SUV</div>
                        <div class="dashboard-carPopupCarType flex" data-type="false">Crossover</div>
                        <div class="dashboard-carPopupCarType flex" data-type="false">Break</div>
                        <div class="dashboard-carPopupCarType flex" data-type="false">Berline</div>
                    </div>
                    <!-- Car Info (Years, Km) -->
                    <div class="dashboard-carPopupCarInfoArea flex">
                        <input type="number" class="dashboard-inputCarModel" id="carYearsInput" min="1998" max="2023" step="1" value="2016" placeholder="Years">
                        <input type="number" class="dashboard-inputCarModel" id="carKmInput" min="1" max="999" placeholder="Km(s)">
                    </div>
                    <!-- Select Date when distance has done -->
                    <div class="dashboard-carPopupCarInfoArea flex" id="dashboard-dateInput">
                        <div class="dashboard-inputToday flex" id="dashboard-inputToday" data-select="true">Today</div>
                        <input type="date" class="dashboard-inputDateAddRecord" id="dashboard-inputDateAddRecord" data-select="false">
                    </div>
                    <!-- Add Button -->
                    <div class="dashboard-carPopupSendButtonArea flex">
                        <button class="dashboard-carPopupButton" id="addCarRecord">Add</button>
                    </div>
                </div>      

                <!-- == Adding Energy PopUp == -->
                <div class="dashboard-areaEnergyButton" id="dashboard-areaEnergyButton">
                    <!-- Energy Title -->
                    <div class="dashboard-carPopupTitleArea flex"><i class="fa-solid fa-arrow-left"></i> Add an electricity bill</div>
                    <div class="dashboard-energyPopupError" id="dashboard-energyPopupError" data-error="false"></div>
                    <!-- Energy Model (Brand, Model) -->
                    <div class="dashboard-energyPopupInfoArea flex">
                        <input type="text" class="dashboard-inputCarModel" name="" id="addEnergyCountry" value="FR" placeholder="Country">
                        <input type="text" class="dashboard-inputCarModel" name="" id="" placeholder="*State">
                    </div>
                    <!-- Energy Info (Years, Km) -->
                    <div class="dashboard-energyPopupInfoArea flex">
                        <input type="text" class="dashboard-inputCarModel" name="" id="addEnergyUnit" value="mwh" placeholder="Unit">
                        <input type="number" class="dashboard-inputCarModel" name="" id="addEnergyValue" min="1" max="999" placeholder="Value">
                    </div>
                    <!-- Add Button -->
                    <div class="dashboard-carPopupSendButtonArea flex">
                        <button class="dashboard-carPopupButton" id="addEnergyRecord">Add</button>
                    </div>
                </div>

                <!-- == Adding Oil PopUp == -->
                <div class="dashboard-areaOilButton" id="dashboard-areaOilButton">
                    <!-- Soon -->
                </div>
            </div>

            <div class="dashboard-unselect"></div>

            <!-- Right Icon -->
            <div class="dashboard-rightIcon">
                <div class="dashboard-languageLogo flex"><i class="fi fi-rr-language flex"></i></div>
                <div class="dashboard-notificationLogo flex"><i class="fi fi-rr-bell flex"></i></div>
                <div class="dashboard-UserLogo flex">
                    <div class="dashboard-logoRoundedUser flex"><i class="fa-regular fa-user"></i></div>
                </div>
            </div>
        </div>

        <!-- Second Green - All Stats Display -->
        <div class="dashboard-SCountainer2">
            <!-- First Blue - Left NavBar-->
            <div class="dashboard-SCountainer2-1">
                <div class="dashboard-logoContainer">
                    <!-- Logo Graphs -->
                    <div class="dashboard-logoLeftNavBarAreaRouded flex">
                        <i class="fi fi-rr-file-chart-line dashboard-logoLeftNavBar logoOn flex" id="logoDashboard"></i>
                    </div>
                    <!-- Logo History -->
                    <div class="dashboard-logoLeftNavBarAreaRouded flex">
                        <i class="fi fi-rr-time-past dashboard-logoLeftNavBar logoOff flex" id="logoHistory"></i>
                    </div>
                    <!-- Logo History -->
                    <div class="dashboard-logoLeftNavBarAreaRouded flex">
                        <i class="fi fi-rr-diamond dashboard-logoLeftNavBar logoOff flex" id="logoDiamond"></i>
                    </div>
                    <!-- Logo Profile -->
                    <div class="dashboard-logoLeftNavBarAreaRouded flex">
                        <i class="fi fi-rr-user dashboard-logoLeftNavBar logoOff flex" id="logoProfile"></i>
                    </div>
                </div>
            </div>

            <!-- Second Blue - All Graphs -->
            <div class="dashboard-SCountainer2-2" id="dashboard-SCountainer2-2">
                <!-- First Pink - Overview Range -->
                <div class="dashboard-SCountainer2-2-1 flex">

                    <!-- Overview Container -->
                    <div class="dashboard-overviewByDateContainer">
                        <!-- Left Overview area -->
                        <div class="dashboard-overviewByDateLeftArea">
                            <!-- Overview -->
                            <div class="dashboard-overviewTitle 0 flex white">
                                <i class="fi fi-rr-circle-1 flex"></i>
                                Overview
                            </div>
                            <!-- Week -->
                            <div class="dashboard-overviewTitle 1 flex gray">
                                <i class="fi fi-rr-circle-2 flex"></i>
                                Week
                            </div>
                            <!-- Month -->
                            <div class="dashboard-overviewTitle 2 flex gray">
                                <i class="fi fi-rr-circle-3 flex"></i>
                                Month
                            </div>
                            <!-- Year -->
                            <div class="dashboard-overviewTitle 3 flex gray">
                                <i class="fi fi-rr-circle-4 flex"></i>
                                Year
                            </div>
                        </div>

                        <!-- Right Overview area -->
                        <div class="dashboard-overviewByDateRightArea">
                            <div class="dashboard-overviewDateInputArea">
                                <i class="fi fi-rr-calendar flex"></i>
                                30 days
                                <input type="date" name="" id="" class="dashboard-overviewInputDate">
                                <div class="gray">-</div>
                                <input type="date" name="" id="" class="dashboard-overviewInputDate">
                            </div>
                            <div class="dashboard-overviewAddDateArea flex">
                                <i class="fi fi-br-square-plus flex"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Second Pink - DashBoard Page - All Graphs -->
                <!-- DashBoard Page -->
                <div class="dashboard-SCountainer2-2-2 flex">
                    <div class="dashboard-statsMainContainer">

                        <!-- Top Container - Stats -->
                        <div class="dashboard-statsContainer1">
                            <!-- First Graph -->
                            <div class="dashboard-statsArea1-1 flex">
                                <div class="dashboard-statsContainerGraphs">
                                    <div class="dashboard-statsTitleGraph">Summary Carbon</div>
                                    <div class="dashboard-statsArea1ContainerData">
                                        <div class="dashboard-statsArea1-1DataArea StatsColor-1">
                                            <i class="fi fi-rr-bullet flex"></i>
                                            <div class="dashboard-statsArea1-1Type">Car</div>
                                            <div class="dashboard-statsArea1-1RoundedValue" id="carCarbonStats">-</div>
                                        </div>
                                        <div class="dashboard-statsArea1-1DataArea StatsColor-2">
                                            <i class="fi fi-rr-bullet flex"></i>
                                            <div class="dashboard-statsArea1-1Type">Electricity</div>
                                            <div class="dashboard-statsArea1-1RoundedValue" id="electricityCarbonStats">-</div>
                                        </div>
                                        <div class="dashboard-statsArea1-1DataArea StatsColor-3">
                                            <i class="fi fi-rr-bullet flex"></i>
                                            <div class="dashboard-statsArea1-1Type">Fuel</div>
                                            <div class="dashboard-statsArea1-1RoundedValue" id="fuelCarbonStats">-</div>
                                        </div>
                                        <div class="dashboard-statsArea1-1DataArea StatsColor-4">
                                            <i class="fi fi-rr-bullet flex"></i>
                                            <div class="dashboard-statsArea1-1Type">Flight</div>
                                            <div class="dashboard-statsArea1-1RoundedValue" id="flightCarbonStats">-</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Second Graph -->
                            <div class="dashboard-statsArea1-2 flex">
                                <div class="dashboard-statsContainerGraphs">
                                    <div class="dashboard-statsTitleGraph">Most used car</div>
                                    <div class="dashboard-statsArea1-2-1ContainerData flex">
                                        <!-- Card 1 -->
                                        <!-- <div class="dashboard-statsArea1-2-1AreaData StatsColor-5 flex">
                                            <div class="dashboard-statsArea1-2-1AreaContainerData">
                                                <div class="dashboard-statsArea1-2-1AreaContainerDataTitleContainer">
                                                    <div class="dashboard-statsArea1-2-1AreaContainerTitleBrand">Renault</div>
                                                    <div class="dashboard-statsArea1-2-1AreaContainerDescBrand">Traffic - 2016</div>
                                                </div>
                                                
                                                <div class="dashboard-statsArea1-2-1AreaContainerDataContainer">
                                                    <div class="dashboard-statsArea1-2-1AreaContainerDataGraphArea">
                                                        <div class="dashboard-statsArea1-2-1AreaContainerKmTitle flex">2.15k</div>
                                                        <div class="dashboard-statsArea1-2-1AreaContainerCo2Title flex">km</div>
                                                    </div>
                                                    <div class="dashboard-statsArea1-2-1AreaContainerDataGraphArea">
                                                        <div class="dashboard-statsArea1-2-1AreaContainerKmTitle flex">5.41k</div>
                                                        <div class="dashboard-statsArea1-2-1AreaContainerCo2Title flex">Co²</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- Card 2 -->
                                        <!-- <div class="dashboard-statsArea1-2-1AreaData StatsColor-6 flex">
                                            <div class="dashboard-statsArea1-2-1AreaContainerData">
                                                <div class="dashboard-statsArea1-2-1AreaContainerDataTitleContainer">
                                                    <div class="dashboard-statsArea1-2-1AreaContainerTitleBrand">Peugeot</div>
                                                    <div class="dashboard-statsArea1-2-1AreaContainerDescBrand">Partner - 2017</div>
                                                </div>
                                                
                                                <div class="dashboard-statsArea1-2-1AreaContainerDataContainer">
                                                    <div class="dashboard-statsArea1-2-1AreaContainerDataGraphArea">
                                                        <div class="dashboard-statsArea1-2-1AreaContainerKmTitle flex">1.95k</div>
                                                        <div class="dashboard-statsArea1-2-1AreaContainerCo2Title flex">km</div>
                                                    </div>
                                                    <div class="dashboard-statsArea1-2-1AreaContainerDataGraphArea">
                                                        <div class="dashboard-statsArea1-2-1AreaContainerKmTitle flex">4.85k</div>
                                                        <div class="dashboard-statsArea1-2-1AreaContainerCo2Title flex">Co²</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>

                            <!-- Third Graph -->
                            <div class="dashboard-statsArea1-3 flex">
                                <div class="dashboard-statsContainerGraphs">
                                    <div class="dashboard-statsTitleGraph">Average consumption per day</div>
                                    <div class="dashboard-statsArea3ContainerData">
                                        <!-- Data -->
                                        <div class="dashboard-statsArea1-3ContainerGraph flex">
                                            <div class="dashboard-statsArea1-3SContainerGraph">
                                                <div class="dashboard-statsArea1-3GraphArea">
                                                    <div class="dashboard-statsArea1-3DataTitle">
                                                        <div class="dashboard-statsArea1-3ValueTitle flex">450</div>
                                                        <div class="dashboard-statsArea1-3UnitTitle flex">kg</div>
                                                    </div>
                                                </div>
                                                <div class="dashboard-statsArea1-3GraphArea">
                                                    <div class="dashboard-statsArea1-3DataTitle">
                                                        <div class="dashboard-statsArea1-3ValueTitle flex">124</div>
                                                        <div class="dashboard-statsArea1-3UnitTitle flex">kg</div>
                                                    </div>
                                                </div>
                                                <div class="dashboard-statsArea1-3GraphArea">
                                                    <div class="dashboard-statsArea1-3DataTitle">
                                                        <div class="dashboard-statsArea1-3ValueTitle flex">1.23k</div>
                                                        <div class="dashboard-statsArea1-3UnitTitle flex">kg</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Title -->
                                        <div class="dashboard-statsArea1-3TitleContainer flex">
                                            <div class="dashboard-statsArea1-3TitleSContainer">
                                                <div class="dashboard-statsArea1-3Title flex">Electric</div>
                                                <div class="dashboard-statsArea1-3Title flex">Car</div>
                                                <div class="dashboard-statsArea1-3Title flex">Fuel</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Middle Container - Stats -->
                        <div class="dashboard-statsContainer2 flex">
                            <!-- Container All Div -->
                            <div class="dashboard-statsContainer2-1">

                                <!-- Exemple Car -->
                                <!-- <div class="dashboard-statsArea2-1 flex">
                                    <div class="dashboard-statsArea2-1Container">
                                        <div class="dashboard-statsArea2-1Title">Peugeot Partner</div>
                                        <div class="dashboard-statsArea2-1Date">Oct 15</div>
                                        <div class="dashboard-statsArea2-1ContainerData">
                                            <div class="dashboard-statsArea2-1Data">49km - 89kg Co²</div>
                                            <div class="dashboard-statsArea2-1Percentage flex">0%</div>
                                        </div>
                                    </div>
                                </div> -->
                                
                            </div>
                        </div>

                        <!-- Bottom Container - Stats -->
                        <div class="dashboard-statsContainer3">
                            <!-- Left Area -->
                            <div class="dashboard-statsArea3-1 flex">
                                <div class="dashboard-statsContainerGraphs">
                                    <div class="dashboard-statsTitleGraph">Last day</div>
                                </div>
                            </div>
                            <!-- Right Area -->
                            <div class="dashboard-statsArea3-2 flex">
                                <div class="dashboard-statsContainerGraphs">
                                    <div class="dashboard-statsTitleGraph">You vs Average</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- History Page -->
                <div class="history-SCountainer2-2-2">
                    <div class="history-mainContainer">
                        <!-- All Card -->
                    </div>
                </div>

                <!-- Premium Page -->
                <div class="premium-SCountainer2-2-2 flex">
                    <div class="premium-accountTitleBeta">
                        Flowly is currently in <span style="color: #ffb9b9;">BETA</span> version, so you have access to all <span style="color: #ffb9b9;;">premium features</span>
                    </div>
                </div>

                 <!-- Profile Page -->
                 <div class="profile-SCountainer2-2-2 flex">
                    <div class="profile-accountTitleBeta">
                        The profile is soon available
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../script/dashboard.js" type="module"></script>
</body>
</html>