<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./../style/style.css">
    <title>Register</title>
</head>
<body>
    <!-- Menu -->
    <div class="titlebar">
        <div class="menu drag">
            <i class="fa-solid fa-minus white minus flex no-drag" id="minus"></i>
            <i class="fa-sharp fa-solid fa-xmark white close flex no-drag" id="close"></i>
        </div>
    </div>
    
    <div class="container scroll-y">
        <!-- Register Area 1 -->
        <div class="registerArea1 flex">
            <div class="containerSousArea1">
                <!-- Title -->
                <div class="containerTitle">
                    <p class="registerTitleApp">Flowly</p>
                    <p class="registerDescriptionApp">Start your journey with us.</p>
                    <p class="registerSloganApp">Take control of your carbon footprint. </p>
                </div>
                <p class="registerAuthorApp flex">by Thomas Kauffmant</p>
            </div>
        </div>

        <!-- Register Area 2 -->
        <div class="registerArea2">
            <form class="containerSousArea2">
                <!-- Title -->
                <div class="signupTitleArea">Sign up</div>
                <div class="signupHaveAccountTitleArea">Have an account ?</div>
                <div class="signupLookingTitleArea">Looking for?</div>

                <!-- Looking For -->
                <div class="signupcheckboxArea">
                    <!-- Individual -->
                    <div class="signupCheckoxIndividual form-control" id="signupCheckoxIndividual">
                        <input id="radio_1" class="radio isHidden" name="radio_a" type="radio">
                        <label for="radio_1" class="label">Individuals</label>
                    </div>
                    <!-- Compagnie -->
                    <div class="signupCheckoxCompagnie form-control" id="signupCheckoxCompagnie">
                        <input id="radio_2" class="radio isHidden" name="radio_a" type="radio">
                        <label for="radio_2" class="label">Compagnies</label>
                    </div>
                </div>

                <!-- Email -->
                <div class="signupLookingTitleArea ">Email</div>
                <div class="signupEmailArea">
                    <input type="email" class="emailInput">
                </div>

                <!-- Password -->
                <div class="signupLookingTitleArea ">Password</div>
                <div class="signupPasswordArea">
                    <input type="password" class="passwordInput">
                </div>

                <div class="signupCreateAccountButtonArea">
                    <button type="submit" class="buttonAccountCreate">Create account</button>
                </div>
            </form>
        </div>
    </div> 

    <script src="./../script/register.js"></script>
    
</body>
</html>