<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./../style/style.css">
    <title>Register</title>
</head>
<body>
    <!-- Menu -->
    <div class="titlebar">
        <div class="menu drag">
            <i class="fa-solid fa-minus white minus flex no-drag" id="minus"></i>
            <i class="fa-sharp fa-solid fa-xmark white close flex no-drag" id="close"></i>
        </div>
    </div>
    
    <div class="container">
        <!-- Register Area 1 -->
        <div class="signup-registerArea1 flex">
            <div class="signup-registerSousArea1">
                <!-- Title -->
                <div class="signup-containerTitle">
                    <p class="registerTitleApp">Flowly</p>
                    <p class="registerDescriptionApp">Commencez votre journée avec nous.</p>
                    <p class="registerSloganApp">Prenez le contrôle de votre empreinte carbone.</p>
                </div>
                <p class="registerAuthorApp flex">par Thomas Kauffmant</p>
            </div>
        </div>

        <!-- Register Area 2 -->
        <div class="signup-registerArea2">
            <form class="signup-registerSousArea2" method="post" id="registerForm">
                <!-- Title -->
                <div class="signup-TitleArea">Enregistrez-vous</div>
                <div class="signup-HaveAccountTitleArea" id="signup-HaveAccount">Déjà un compte ?</div>
                <div class="signup-MissingInformation" id="missingInformations"></div>
                <div class="signup-LookingTitleArea">Vous êtes ?</div>

                <!-- Looking For -->
                <div class="signup-checkboxArea">
                    <!-- Individual -->
                    <div class="signup-CheckoxIndividual form-control">
                        <input id="radio_1" class="radio isHidden" name="radio_a" id="individualRadio" value="individual" type="radio">
                        <label for="radio_1" class="label">Individuel</label>
                    </div>
                    <!-- Compagnie -->
                    <div class="signup-CheckoxCompagnie form-control">
                        <input id="radio_2" class="radio isHidden" name="radio_a" id="compagnieRadio" value="compagnie" type="radio">
                        <label for="radio_2" class="label">Entreprise</label>
                    </div>
                </div>

                <!-- Name -->
                <div class="signup-LookingTitleArea">*Nom de l'entreprise</div>
                <div class="signup-EmailArea">
                    <input type="text" class="emailInput" name="name" placeholder="Flowly">
                </div>

                <!-- Email -->
                <div class="signup-LookingTitleArea">*Email</div>
                <div class="signup-EmailArea">
                    <input type="email" class="emailInput" name="email" placeholder="compagnie@email.com">
                </div>

                <!-- Password -->
                <div class="signup-LookingTitleArea">*Mot de passe</div>
                <div class="signup-PasswordArea">
                    <input type="password" class="passwordInput" name="password" placeholder="******">
                </div>

                <div class="signup-CreateAccountButtonArea">
                    <button type="submit" class="buttonAccountCreate" id="buttonSubmit">Se crée un compte</button>
                </div>
            </form>
        </div>
    </div> 
</body>
</html>