body {
    background-color: red;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: end;
    width: auto;
    height: 32px;
    background-color: black;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    color: white;
}

.close {
    height: 100%;
    padding: 0 16px 0 16px;
}

.minus {
    height: 100%;
    padding: 0 12px 0 12px;
}

.close:hover {
    background: blueviolet;
}

.minus:hover {
    background: blueviolet;
}