* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #3a3a40;
}

.drag {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
  
.no-drag {
    -webkit-app-region: no-drag;
}

/* =========== Menu =========== */
.titlebar {
    width: 100%;
    height: 33px;
}

.menu {
    overflow-y: hidden;
    position: fixed;
    width: 100%;
    height: 33px;
    color: white;
    display: flex;
    align-items: center;
    justify-content:end;
    background-color: #29292d;
    -webkit-app-region: drag;
    z-index: 1;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    color: white;
}

.close {
    height: 100%;
    padding: 0 16px 0 16px;
}

.minus {
    height: 100%;
    padding: 0 12px 0 12px;
}

.close:hover {
    background: #1e1e21;
}

.minus:hover {
    background: #1e1e21;
}

/* =========== Container =========== */
.container {
    /* overflow: hidden; */
    width: auto;
    height: 112vh;
    margin: 0;
    padding: 1%;
    padding-bottom: 26vh;
}

::-webkit-scrollbar {
    width: 0px;
}